<div class="container">
	<div class="input-group mb-3">
		<div class="input-group-prepend">
			<span class="input-group-text"><img src="assets/svg/search.svg" alt="Search icon"></span>
		</div>
		<input [(ngModel)]="searchText" type="text" class="form-control" placeholder="Search for Beers" aria-label="Search" aria-describedby="basic-addon1">
	</div>
	<div class="table-responsive">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Manf</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let beer of beers | filter : searchText; index as i">
					<th><a [routerLink]="['/beer', beer.name]">{{ beer.name }}</a></th>
					<th>{{ beer.manf }}</th>
				</tr>
			</tbody>
		</table>
	</div>
</div>