<div class="container">
  <button (click)="cancel()" class="btn-primary btn">Previous Page</button>
  <h1>Bill #{{ orders[0]?.bill_id }} Orders</h1>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Item</th>
        <th>Price</th>
        <th>Quantity</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td>{{ order?.order_id }}</td>
        <td>{{ order?.item }}</td>
        <td>{{ order?.price }}</td>
        <td>{{ order?.qty }}</td>
      </tr>
    </tbody>
  </table>
</div>
