<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
  <a class="navbar-brand" href="#">BarBeerDrinker</a>
  <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarNav" data-toggle="collapse" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link" href="/drinker">Drinker</a></li>
      <li class="nav-item"><a class="nav-link" href="/bar">Bar</a></li>
      <li class="nav-item"><a class="nav-link" href="/beer">Beer</a></li>
      <li class="nav-item"><a class="nav-link" href="/sql">SQL Box</a></li>
      <li class="nav-item"><a class="nav-link" href="/mods">Modifications</a></li>
      <li class="nav-item"><a class="nav-link" href="/verify">Verify</a></li>
    </ul>
  </div>
</nav>
<!-- The content below is only a placeholder and can be replaced. -->
<div class="container"><br /></div>
<router-outlet></router-outlet>
